<div class="whitespace"></div>

<!--Peer Ratings Widget--><script src="https://www.martindale.com/marketyourfirm/mhratings/js/peer-rating.js"></script><div id="mh-rating-container" isln="907752347" param="128729baf4cc423f759b6cb0220ebbab"></div><!--Peer Ratings Widget-->


<div class="about-container">
	<div class="practice-area">
	<h3 class="side-title">Practice Areas</h3>
	<ul>
		<a href="/practice-areas.html"><li>Estate Planning and Probate</li></a>
		<a href="/practice-areas.html#litigation"><li>Civil Litigation</li></a>
		<a href="/practice-areas.html#collections"><li>Creditors' Rights and Collections</li></a>
	</ul>
	</div>
</div>
