<div class="whitespace"></div>

<!--Peer Ratings Widget-->
<script src="https://www.martindale.com/marketyourfirm/mhratings/js/peer-rating.js"></script>
<div id="mh-rating-container" isln="907752347" param="128729baf4cc423f759b6cb0220ebbab"></div>
<!--Peer Ratings Widget-->

<a href="https://nextdoor.com/pages/richard-a-drews-atty-at-law-omaha-ne/" target="_blank"><img src="/img/nextdoor2024.png" class="nextdoor"></a>

<div class="about-container">
	<div class="practice-area">
	<h3 class="side-title">Practice Areas</h3>
	<ul>
		<a href="/practice-areas#estate"><li>Estate Planning</li></a>
		<a href="/practice-areas#probate" name="probate"><li>Estate Administration and Probate</li></a>
	</ul>
	</div>
</div>
