<div class="container-fluid footer">
<div class="container footer">
	    <div class="row footer-pad">
	      {% comment %} if something is missing from the contact info it won't print extra columns {% endcomment %}
</div>
</div>
</div>
<!-- </footer> -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://use.fontawesome.com/3958139b47.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/media-player.js"></script>
