<header id="hero">

  {% if page.hero == "home" %}
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}"></div>

  {% else if page.hero == "location" %}
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}"></div>

  {% else if page.hero == "practice" %}
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}"></div>

  {% else if page.hero == "about" %}
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}"></div>

  {% else if page.hero == "contact" %}
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}"></div>

  {% endif %}

</header>
