.client-image-container
	border-radius: 50%
	width: 200px
	height: 200px
	border: 3px solid $brand
	margin: 10px 2rem 2rem 2rem
	overflow: hidden
	float: right
	
.client-image
	max-width: 200px

.about-container
	display: flex
	flex-direction: column
	justify-content: center
	padding: 10px
	font-size: 18px
	margin-top: 22px

.contact-text
	p
		max-width: 350px
		margin-bottom: 0


@media (max-width: 760px)
	.client-image-container
		display: none

@media (max-width: 600px)
	.client-image-container
		display: none

@media (max-width: 400px)
	.client-image-container
		display: none
